/* ========================== cards-secton ============================== */
.works-cards {
  background: linear-gradient(180deg, #f1ac73 31.68%, #15abff 100%);
  padding: 2px;
  border-radius: 24.8267px;
  height: 100%;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.works-cards:hover {
  background: var(--skin);
  transition: all 0.4s ease-in-out;
}

.works-cards div {
  border-radius: 24.8267px;
  padding: 20px;
  height: 100%;
  transition: all 0.4s ease-in-out;
}

.works-cards:hover div {
  background-color: var(--skin) !important;
}

.works-cards .rounded-div {
  line-height: 27px;
  padding: 19px 24px;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
  background-color: var(--skin) !important;
}

.works-cards:hover .rounded-div {
  background-color: var(--white) !important;
  color: var(--skin) !important;
}
/* ========================== ROADMAP Section =========================== */
.roadmap-section {
  background: url("../src/assets/png/roadmap-bg.png");
  background-position: center;
  background-size: cover;
  min-height: 100vmin;
}

.roadmap-image-right1 {
  right: 0px;
  top: -80px;
  z-index: 1;
}

.roadmap-image-right2 {
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

.roadmap-image-left {
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.road-map::before {
  content: " ";
  position: absolute;
  height: calc(100% + 48px);
  width: 2px;
  border-left: dashed 3px white;
  top: 70px;
  left: 50%;
  transform: translateX(50%);
}

.road-map-col::before {
  content: " ";
  position: absolute;
  height: 116px;
  width: 2px;
  border-left: dashed 2px white;
  top: -20px;
  left: 50%;
  transform: rotate(90deg) translatey(-35px);
}

.road-map-col-left::before {
  transform: rotate(90deg) translatey(calc(50% + -20px));
}

.road-map-col::after {
  content: " ";
  position: absolute;
  height: 13px;
  width: 13px;
  background-color: var(--skin);
  border-radius: 50%;
  top: 25px;
  left: calc(50% + 90px);
  transform: translateY(50%);
}

.road-map-col-left::after {
  left: calc(50% - 104px);
}

.road-map-lastcol::before {
  display: none;
}

.roadmap-ul-right {
  position: absolute;
  top: 0px;
  right: 50px;
  z-index: 1;
}

.roadmap-ul-left {
  position: absolute;
  top: 0px;
  left: 113px;
  z-index: 1;
}

.roadmap-ul-left-2 {
  left: 138px;
  z-index: 1;
}

.roadmap-section::after {
  background: #000;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 0;
  top: -20px;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  height: 60px;
}

.roadmap-section:before {
  background: #000;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 0;
  bottom: -20px;
  -webkit-filter: blur(14px);
  filter: blur(10px);
  height: 80px;
}
